 @import url(https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;200;300;400;500;600;700&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    
    background: linear-gradient(90deg, rgba(245, 198, 10, 0.872) 0%, rgb(55, 0, 255) 100%);
box-shadow: inset 12px 12px 29px #471717,
            inset -12px -12px 29px #280404;
}
main{
    width: 80%;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    background: #000;
}


img{
    width: 12em;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    height: 20em;
    width: 15em;
    background: rgb(255, 0, 0);    
}

.des{
    display: flex;
    padding: 2em;
    align-items: center;
    justify-content:center ;
    margin: 0.5em;
    width: 15em;
    height: 20em;
    background: #60d11a;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bold;    
}

.des, .img{
    background: #000000ac;
    border-radius: 25px;
    background: linear-gradient(123deg, rgba(131,58,180,0.9220063025210083) 0%, rgba(29,120,253,0.9136029411764706) 34%, rgba(213,222,66,0.9304096638655462) 65%, rgba(255,190,24,0.9164040616246498) 99%);
box-shadow:  12px 12px 29px  rgb(255, 174, 0) ,
             -12px -12px 29px rgb(0, 99, 249);
}
